body {
    font-family: dunbar-tall, sans-serif;
    margin: 0 auto;
	padding:0;
    background-color: rgb(0, 0, 0);
    color: white;
	background-image: url('./assets/ice_01_ceramicPlate/ice_01_ceramicPlate-01.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: 80%;
	transition: 600ms ease-in-out;
}
h2 {
    font-size: 18pt;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    letter-spacing: 10pt;
    text-transform: uppercase;
	position: fixed;
	top: 10vh;
	left: 10vw;
}
h3 {
    font-size: 14pt;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    letter-spacing: 10pt;
    text-transform: uppercase;
	position: flex;
	float: right;
	margin-right: 10vw;
}
section{
	width: 100vw;	
	height: 100vh;
	min-height: 1vh;
	margin-top: 100vh;
}
/* img {
	width: 20vw;
	object-fit: cover;

} */
.content{
	min-height: 70vh;
}

@media only screen and (max-width: 812px) {  
    
}